In [56]:
import sqlite3

In [57]:
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

In [58]:
cursor.execute('select * from requested_event')
cursor.fetchall()

[(1,
  1,
  '2025-09-02 17:00:00',
  '2025-09-02 18:00:00',
  'Mathematics',
  'test',
  'sdfsdf',
  None,
  None,
  None,
  None)]

In [50]:
cursor.execute("""CREATE TABLE if not exists subjects (
        subject TEXT
    )""")
conn.commit()

In [51]:
cursor.execute("""
    INSERT INTO subjects (subject) VALUES
    ('Mathematics'),
    ('Physics'),
    ('Chemistry'),
    ('Biology'),
    ('English'),
    ('History'),
    ('Geography'),
    ('Computer Science'),
    ('Economics'),
    ('Art'),
    ('Music'),
    ('Philosophy'),
    ('Psychology'),
    ('Spanish'),
    ('French'),
    ('Data Science'),
    ('Engineering'),
    ('Astronomy');
""")

In [55]:
cursor.execute("select * from subjects")
cursor.fetchall()
conn.close()

In [31]:
# drop all non-system tables in the connected database
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';")
tbls = [row[0] for row in cursor.fetchall()]
if not tbls:
    print("No tables to drop.")
else:
    for t in tbls:
        cursor.execute(f'DROP TABLE IF EXISTS "{t}";')
    conn.commit()
    print("Dropped tables:", tbls)

Dropped tables: ['user', 'requested_event', 'meeting']

In [32]:
user = """
create table if not exists user (
    userid INTEGER PRIMARY KEY,
    email TEXT,
    password TEXT,
    name TEXT
);
"""

requested_event = """
create table if not exists requested_event (
    eventid INTEGER PRIMARY KEY,
    userid_tutee INTEGER,
    available_start_time DATETIME,
    available_end_time DATETIME,
    category TEXT,
    title TEXT,
    description TEXT,
    uid_tutor INTEGER,
    possible_tutors TEXT,
    is_accepted BOOLEAN,
    is_deleted BOOLEAN
);
"""

meeting = """
create table if not exists meeting (
    eventid INTEGER,
    start_time DATETIME,
    end_time DATETIME
);
"""

ddl = [user, requested_event, meeting]

In [33]:
for x in ddl:
    cursor = conn.cursor()
    cursor.execute(x)
    conn.commit()

In [34]:
cursor.execute("SELECT name, sql FROM sqlite_master WHERE type='table' ORDER BY name;")
tables = cursor.fetchall()
if not tables:
    print("No tables found.")
else:
    for name, sql in tables:
        print(f"Table: {name}")
        print("-" * 40)

Table: meeting
----------------------------------------
Table: requested_event
----------------------------------------
Table: user
----------------------------------------

In [ ]:
conn.close()